<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Form</title>
</head>
<body>

    <!-- Form -->
    <h1>Predict Flight Departure Delay</h1>
    <form action="{{ url_for('predict') }}" method="POST">
        <!----------------------------------------------->
        <!-- TIME INFO -->
        <!----------------------------------------------->
        <!-- Date -->
        <label for="date">Departure Date (mm/dd/yyyy)</label>
        <input type="text" name="date" id="date"/>

        <!-- Departure Time HH:MM & AM/PM -->
        <label for="departure_time">Departure Time (HH:MM):</label>
        <input type="text" name="departure_time" id="departure_time" placeholder="03:45"/>

        <label for="am_pm">AM/PM:</label>
        <select name="am_pm" id="am_pm">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>

        <!-- Expected Flight Time in Minutes-->
        <label for="flight_length_min">Scheduled Flight Length (minutes):</label>
        <input type="text" name="flight_length_min" id="flight_length_min" /><br><br>

        <!----------------------------------------------->
        <!-- AIRLINE/PLANE INFO -->
        <!----------------------------------------------->
        <!-- Carrier Code (origin airport) -->
        <label for="carrier_code">Carrier Code:</label>
        <input type="text" name="carrier_code" id="carrier_code" /><br><br>

        <!-- Destination Airport -->
        <label for="dest_airport">Destination Airport:</label>
        <input type="text" name="dest_airport" id="dest_airport" /><br><br>

        <!-- Manufacturer -->
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" name="manufacturer" id="manufacturer" /><br><br>

        <!-- Plane Model -->
        <label for="plane_model">Plane Model:</label>
        <input type="text" name="plane_model" id="plane_model" /><br><br>

        <!-- Aircraft Age -->
        <label for="aircraft_age">Aircraft Age:</label>
        <input type="text" name="aircraft_age" id="aircraft_age" /><br><br>

        <!-- Engine Type -->
        <label for="engine_type">Engine Type:</label>
        <input type="text" name="engine_type" id="engine_type" /><br><br>

        <!-- Number of Seats -->
        <label for="seat_cnt">Number of Seats:</label>
        <input type="text" name="seat_cnt" id="seat_cnt" /><br><br>

        <!-- Builder Type Certificated -->
        <label for="builder_certificated">Builder Type Certificated?</label>
        <select name="builder_certificated" id="builder_certificated">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>

        <!-- Aircraft Age -->
        <label for="dest_airport">Destination Airport:</label>
        <input type="text" name="dest_airport" id="dest_airport" /><br><br>

        <!----------------------------------------------->
        <!-- Origin: Weather Info -->
        <!----------------------------------------------->
        <!-- Precipitation Accumulation One Hour -->
        <label for="precip_accum_1_hr">Precipitation Accumulation One Hour:</label>
        <input type="text" name="precip_accum_1_hr" id="precip_accum_1_hr" /><br><br>

        <!-- Precipitation Accumulation Six Hours -->
        <label for="precip_accum_6_hr">Precipitation Accumulation Six Hours:</label>
        <input type="text" name="precip_accum_6_hr" id="precip_accum_6_hr" /><br><br>

        <!-- Air Temperature -->
        <label for="air_temp">Air Temperature:</label>
        <input type="text" name="air_temp" id="air_temp" /><br><br>

        <!-- Dew Point Temperature -->
        <label for="dew_point_temp">Dew Point Temperature:</label>
        <input type="text" name="dew_point_temp" id="dew_point_temp" /><br><br>

        <!-- Relative Humidity -->
        <label for="relative_humidity">Relative Humidity:</label>
        <input type="text" name="relative_humidity" id="relative_humidity" /><br><br>

        <!-- Wind Speed -->
        <label for="wind_speed">Wind Speed:</label>
        <input type="text" name="wind_speed" id="wind_speed" /><br><br>

        <!-- Wind Direction -->
        <label for="wind_direction">Wind Direction:</label>
        <input type="text" name="wind_direction" id="wind_direction" /><br><br>

        <!-- Wind Gust -->
        <label for="wind_gust">Wind Gust:</label>
        <input type="text" name="wind_gust" id="wind_gust" /><br><br>

        <!-- Visibility -->
        <label for="visibility">Visibility:</label>
        <input type="text" name="visibility" id="visibility" /><br><br>

        <!-- Ceiling -->
        <label for="ceiling">Ceiling:</label>
        <input type="text" name="ceiling" id="ceiling" /><br><br>

        <!-- Sea Level Pressure -->
        <label for="sea_level_pressure">Sea Level Pressure:</label>
        <input type="text" name="sea_level_pressure" id="sea_level_pressure" /><br><br>
      

        <button type="submit">Predict</button>
    </form> 

    <!-- Prediction Output -->
     {% if prediction %}
        <h2>Prediction:</h2>
        <p>{{ prediction }}</p>
     {% endif %}
</body>
</html>